# EditorConfig is awesome: https://editorconfig.org
root = true

# Global defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 120

[*.{html,htm}]
indent_style = tab
indent_size = 4

[*.css]
indent_style = tab
indent_size = 4

[*.java]
indent_style = tab
indent_size = 4

[*.{js,jsx,ts,tsx}]
indent_style = tab
indent_size = 4

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2
