---
spring:
  data:
    redis:
      host: finances-redis-service
      port: 6379
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: update
        # Hibernate ddl auto (create, create-drop, validate, update)
