.cell {
	width:	175px;
	height:	100px;
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	vertical-align: top;
	text-align: right;
	font-size: 0.7rem;
	font-weight: 300;
}

th {
	background-color:	#c0c0c0;
	border-right:	1px solid #a0a0a0;
	border-bottom:	1px solid #a0a0a0;
}

table {
	border-spacing: 0px;
}

.weekend {
	background-color:	#f0f0f0;
}

.totals {
	border-bottom: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
	font-size: 0.7rem;
	font-weight: 300;
}
