<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Entities</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" th:href="@{./favicon.ico}"/>
	<link rel="stylesheet" type="text/css" th:href="@{./font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/common.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{./css/table.css}" />

	<script type="text/javascript" th:src="@{./js/common.js}"></script>
	<script th:insert="~{nav :: required}" th:remove="tag"></script>

	<style>
	.entities {
		border: 0;
		border-spacing: 0;
	}
	</style>

	<script>
		deleteEntity = (eId) => {
			fetch(`/api/v1/entities/${eId}`, {
				method: 'DELETE'
			}).then(resp => {
				resp.json().then(data => {
					if(data.code === 0) {
						window.location = window.location.href;
					}
					alert(data.message);
				});
			});
		}

		validateEntity = (id, el) => {
			if(globalThis.validate === false) {
				globalThis.validate = true;

				// publishing a Kafka message is asynchronous, so don't need a promise or any type of synchronous "workflow"
				fetch(`/api/v1/entities/accept/${id}`, {
					method: 'PUT'
				});

				let klass = el.getAttribute('class');
				el.setAttribute('class', 'fa fa-spinner fa-pulse small-glyph fa-fw');
				let retries = 3;
				let interval = setInterval(() => {
					console.log(`Polling ${retries} for validation...`);
					retries--;
					if(retries === 0) {
						el.setAttribute('class', klass);
						clearInterval(interval);
						globalThis.validate = false;
					}

					fetch(`api/v1/entities/${id}`).then(resp => {
						if(resp != null) {
							resp.json().then(data => {
								console.log(data.validated);
							});
						}
					});
				}, 3000);
			} else {
				console.log('validation in progress...');
			}
		}

		document.addEventListener('DOMContentLoaded', (event) => {
			globalThis.validate = false;

			// add "onclick" to glyphs
			document.querySelectorAll('span[data-id]').forEach((el) => {
				let buttons = el.querySelectorAll('i');

				buttons[0].addEventListener('click', () => {
					deleteEntity(el.getAttribute('data-id'));
				});

				buttons[1].addEventListener('click', () => {
					validateEntity(el.getAttribute('data-id'), buttons[1]);
				});
			});
		});
	</script>
</head>
<body>

<div th:insert="~{nav :: menu}"></div>

<form action="entities" method="POST">
<table class="mytable entities">
	<caption style="display: none;">Entities</caption>
	<thead>
		<tr>
			<th scope="col">Entity</th>
			<th scope="col">Account number</th>
			<th scope="col">Address</th>
			<th scope="col">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<tr th:each="entity:${entityList}">
		<td th:switch="${entity.validated}">
			<span th:case="true" th:text="${entity.description}" th:remove="tag"></span>
			<span
				style="color: #a00000"
				th:case="false"
				th:data-id="${entity.id}"
				th:with=
					"deleteIcon=${'&nbsp;&nbsp;&nbsp;<i class=''fa fa-trash small-glyph''></i>'},
					  checkIcon=${'&nbsp;&nbsp;&nbsp;<i class=''fa fa-check small-glyph''></i>'}"
				th:utext="${entity.description + deleteIcon + checkIcon}">
			</span>
		</td>
		<td th:text="${entity.account}"></td>
		<td th:text="${entity.address}"></td>
		<td>&nbsp;</td>
	</tr>
		<tr>
			<td><label>
				<input type="text" size="32" maxlength="64" name="description" required="required"/>
			</label></td>
			<td><label>
				<input type="text" size="25" maxlength="25" name="account"/>
			</label></td>
			<td><label>
				<input type="text" size="32" maxlength="128" name="address"/>
			</label></td>
			<td><input type="submit" value=" add this "/></td>
		</tr>
	</tbody>
</table>
</form>

</body>
</html>
