<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Financial System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{./font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/spreadsheet.css}">

	<link rel="stylesheet" type="text/css" th:href="@{./css/merge_statement.css}">

	<script type="text/javascript" th:src="@{./js/common.js}"></script>
	<script th:insert="~{nav :: required}" th:remove="tag"></script>

	<script type="module">
		const mergeJS = './js/merge_statement.js';
		const { default: MergeStatement } = await import(mergeJS);
		const merge = new MergeStatement();
		globalThis.merge = merge;
	</script>
<body>

<div th:insert="~{nav :: menu}"></div>

<table class="mytable" style="padding-left: 15px; padding-top: 10px">
	<tr>
		<th scope="col">&nbsp;&nbsp;Date&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;Amount&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;Statement entity</th>
		<th scope="col">&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i> Vector entity</th>
		<th scope="col">&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i> LLM entity</th>
		<th scope="col">&nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i> Reject</th>
	</tr>
	<tr th:each="data:${statementData}">
		<td th:text="${data.date}"></td>
		<td th:class="${data.amount} < 0 ? 'negative': 'positive'" th:text="${#numbers.formatDecimal(data.amount,1,2)}"></td>
		<td th:text="${data.statementVendor}"></td>
		<td><input type="radio" th:name="'item' + ${data.actionId}" value="vector"> <span th:text="${data.vectorVendor}" th:remove="tag"></span></td>
		<td th:switch="${data.llmVendor} == null">
			<div th:case="true" th:utext="'&nbsp;'" th:remove="tag"></div>
			<div th:case="*" th:remove="tag">
				<input type="radio" th:name="'item' + ${data.actionId}" value="llm">
				<a href='javascript:void(0)' th:onMouseDown="'merge.edit(' + ${data.actionId} + ',' + ${data.llmId} + ')'" th:text="${data.llmVendor}" class="editdel"></a>
			</div>
		</td>
		<td class="center"><input type="radio" value="reject" th:name="'item' + ${data.actionId()}"/></td>
	</tr>
</table>

<br/>
<input type="button" value=" persist choices " onMouseDown="merge.mergeSelections()"/>

<div class="myModal" id="myModal">
	<div style="margin: auto">
		<br/><br/>
		<div>Edit entity: <select id="editEntity"></select></div>
		<br/><br/>
		<div>
			<button type="button" onClick='merge.updateRecord()'>update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" onClick='merge.cancel()'>cancel</button>
		</div>
		<br/><br/>
	</div>
</div>


</body>
</html>
