<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Financial System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{./font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/common.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/spreadsheet.css}">

	<script type="text/javascript" th:src="@{./js/common.js}"></script>
	<script th:insert="~{nav :: required}" th:remove="tag"></script>

	<script>
		let haveEntities = false;

		const mergeSelections = () => {
			let selections = {};
			document.querySelectorAll('input[type=radio][name^=item]:checked').forEach(el => {
				let id = el.name.substring(4);
				selections[id] = el.value;
			})

			let params = getUrlParams();

			fetch(`api/v1/statement_merge?account=${params.account}`, {
				method: 'POST',
				body: JSON.stringify(selections),
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(res =>
				res.json().then(data => {
					console.log(data);
					window.location.reload();
				})
			);
		};

		const hiliteSelection = (selectedId) => {
			const sel = document.getElementById('editEntity');
			for(let option of sel.options) {
				if(option.value === String(selectedId)) {
					option.selected = true;
					break;
				}
			}
		};

		const edit = (entryId, selectedId) => {
			const modal = document.getElementById('myModal');
			modal.style.display = 'grid';

			if(haveEntities === true) {
				hiliteSelection(selectedId);
				return;
			}

			const sel = document.getElementById('editEntity');
			fetch('api/v1/select/merchants').then(resp => {
				resp.json().then(data => {
					for(let item of data) {
						sel.options[sel.options.length++] = new Option(item.description, item.id);
					}
					haveEntities = true;
					hiliteSelection(selectedId);
				})
			}).catch(e => {
				alert(e);
			});
		};

		const cancel = () => {
			document.getElementById('myModal').style.display = 'none';
		}
	</script>

	<style>
		.myModal {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: 1px solid #e0e0ff;
			width: 400px;
			box-shadow: 5px 5px 5px #a0a0a0;
			margin: 0;
			display: none;
			z-index: 1000;
			background: #fff;
		}
	</style>
<body>

<div th:insert="~{nav :: menu}"></div>

<table class="mytable" style="padding-left: 15px; padding-top: 10px">
	<tr>
		<th scope="col">&nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i>&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i>&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;Date&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;Entity&nbsp;&nbsp;</th>
		<th scope="col">&nbsp;&nbsp;Amount&nbsp;&nbsp;</th>
	</tr>
	<tr th:each="data:${statementData}">
		<td><label><input type="radio" value="y" th:name="'item' + ${data.actionId()}"/></label></td>
		<td><label><input type="radio" value="n" th:name="'item' + ${data.actionId()}"/></label></td>
		<td th:text="${data.date()}"></td>
 		<div th:switch="${data.isNewEntity()}" th:remove="tag">
 			<td th:case="true"><a href='javascript:void(0)' th:onMouseDown="'edit(' + ${data.actionId()} + ',' + ${data.entityId()} + ')'" th:text="${data.entity()}" class="editdel"></a></td>
 			<td th:case="false" th:text="${data.entity()}"></td>
 		</div>
		<td th:class="${data.amount} < 0 ? 'negative': 'positive'" th:text="${#numbers.formatDecimal(data.amount,1,2)}"></td>
	</tr>
</table>

<br/>
<input type="button" value=" persist choices " onMouseDown="mergeSelections()"/>

<div class="myModal" id="myModal">
	<div style="margin: auto">
		<br/><br/>
		<div>Edit entity: <select id="editEntity"></select></div>
		<br/><br/>
		<div>
			<button type="button" onClick='updateRecord()'>update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button type="button" onClick='cancel()'>cancel</button>
		</div>
		<br/><br/>
	</div>
</div>


</body>
</html>
