<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Financial System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" th:href="@{./favicon.ico}"/>

	<link rel="stylesheet" type="text/css" th:href="@{./font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/common.css}">
	<script type="text/javascript" th:src="@{./js/common.js}"></script>

	<script th:fragment="required" type="module">
		const navJS = './js/nav.js';
		const { default: Nav } = await import(navJS);
		const nav = new Nav();
		globalThis.nav = nav;
	</script>
</head>
<body>

<div th:fragment="menu" class="nav">

<table class="popup" id="popup">
	<tr class="small-glyph" onMouseDown="nav.entityReport()">
		<td class="small-icon"><i class="fa fa-list-ul"></i></td>
		<td>  Entity totals</td>
	</tr>
	<tr class="small-glyph" onMouseDown="nav.entityByAmount()">
		<td class="small-icon"><i class="fa fa-sort-amount-desc"></i></td>
		<td>  Entity rank</td>
	</tr>
	<tr class="small-glyph" onMouseDown="nav.entities()">
		<td class="small-icon"><i class="fa fa-table"></i></td>
		<td>  Entities</td>
	</tr>
	<tr class="small-glyph" onMouseDown="nav.balanceSheet()">
		<td class="small-icon"><i class="fa fa-balance-scale"></i></td>
		<td>  Balance sheet</td>
	</tr>
		<tr class="small-glyph" onMouseDown="nav.budget()">
			<td class="small-icon"><i class="fa fa-usd"></i></td>
			<td>  Budget</td>
		</tr>
		<tr class="small-glyph" onMouseDown="nav.newTransaction()">
			<td class="small-icon"><i class="fa fa-credit-card"></i></td>
			<td>  Activity</td>
		</tr>
		<tr class="small-glyph" onMouseDown="nav.cashbook()">
			<td class="small-icon"><i class="fa fa-line-chart"></i></td>
			<td>  Cashbook</td>
		</tr>
		<tr class="small-glyph" onMouseDown="nav.uploadStatement()">
			<td class="small-icon"><i class="fa fa-bank"></i></td>
			<td>  Import Statement</td>
		</tr>
	<tr class="small-glyph" onMouseDown="nav.logout()">
		<td class="small-icon"><i class="fa fa-sign-out"></i></td>
		<td>  Log out</td>
	</tr>
</table>

<table style="background-color: #f0f0f0; border: 1px solid black; border-spacing: 2px; padding: 2px;">
	<tr>
		<td class="spacer"> </td>
		<td class="icon glyph" style="white-space: nowrap;">
			<i class="fa fa-navicon glyph" onclick="nav.navOpen()"></i>
		</td>
		<td class="spacer">&nbsp;</td>
		<td style="white-space: nowrap;">Account:
			<label for="account"></label><select name="account" id="account" onchange="nav.updateAccount();">
				<option th:each="account : ${@navHelper.getAccounts()}" th:value="${account.id}" th:text="${account.description}"></option>
			</select>
		</td>
		<td class="spacer">&nbsp;</td>
		<td style="white-space: nowrap;">
			<form>Year:
				<label for="year"></label><input type="text" maxlength="4" size="4" name="year" id="year" onChange='nav.updateYear();'/>
			</form>
		</td>
		<td style="width: 100%">&nbsp;</td>
	</tr>
</table>
</div>

</body>
</html>
