<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Financial System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" th:href="@{./favicon.ico}"/>

	<link rel="stylesheet" type="text/css" th:href="@{./font-awesome-4.7.0/css/font-awesome.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{./css/common.css}">

	<style>
	.spacer {
		width: 20px;
	}

	.icon {
		height: 33px;
		text-align: center;
	}

	.horiz {
		display: grid;
		grid-template-columns: 50px 400px;
		width: 100%;
		align-items: center;
	}

	.horiz > i {
		text-align: center;
		width: 50px;
	}
	</style>

	<script th:fragment="required" type="module">
		const navJS = './js/nav.js';
		const { default: Nav } = await import(navJS);
		const nav = new Nav();
		globalThis.nav = nav;
	</script>
</head>
<body>

<div th:fragment="menu" class="nav">

<div class="small-glyph horiz" onclick="nav.entityReport()">
	<i class="fa fa-list-ul"></i>  Entity totals
</div>
<div class="small-glyph horiz" onclick="nav.entityByAmount()">
	<i class="fa fa-sort-amount-desc"></i>  Entity rank
</div>
<div class="small-glyph horiz" onclick="nav.entities()">
	<i class="fa fa-table"></i>  Entities
</div>
	<div class="small-glyph horiz" onclick="nav.balanceSheet()">
		<i class="fa fa-balance-scale"></i>  Balance sheet
	</div>

<table>
		<tr>
			<td class="small-icon"><a class="fa fa-usd small-glyph" onclick="nav.budget()" href="#">  Budget</a>
			</td>
		</tr>
		<tr>
			<td class="small-icon"><a class="fa fa-credit-card small-glyph" onclick="nav.newTransaction()" href="#">  Activity</a>
			</td>
		</tr>
		<tr>
			<td class="small-icon"><a class="fa fa-line-chart small-glyph" onclick="nav.cashbook()" href="#">  Cashbook</a>
			</td>
		</tr>
		<tr>
			<td class="small-icon"><a class="fa fa-bank small-glyph" onclick="nav.cashbook()" href="#">  Import Statement</a>
			</td>
		</tr>
	</table>
<table>
	<caption style="display: none">nav</caption>
	<thead><tr><th scope="col" style="height: 0;"> </th></tr></thead>
	<tr>
		<td class="spacer"> </td>
		<td class="icon">
			<i class="fa fa-navicon glyph" onclick="nav.navOpen()"></i>
		</td>
		<td class="spacer">&nbsp;</td>
		<td rowspan="2" class="middle">Account:
			<label for="account"></label><select name="account" id="account" onchange="nav.updateAccount();">
				<option th:each="account : ${@navHelper.getAccounts()}" th:value="${account.id}" th:text="${account.description}"></option>
			</select>
		</td>
		<td class="spacer">&nbsp;</td>
		<td style="width: 150px" rowspan="2" class="middle">
			<form>Year:
				<label for="year"></label><input type="text" maxlength="4" size="4" name="year" id="year" onChange='nav.updateYear();'/>
			</form>
		</td>
	</tr>
</table>
<div class="icon" style="position: fixed; right: 50px; top: 0;">
	<a href="#"><em class="fa fa-sign-out glyph" onclick="nav.logout();"></em></a>
	<br/><span class="small">Log Out</span>
</div>
</div>

</body>
</html>
